% This is a template file used to generate A1-sized placards
% summarizing all the talks that take place in a particular room.

\documentclass{book}

\usepackage{pdfpages}

% set paper size and margins; needs to be adapted for A5 ideally, we
% should have a document class for conference handbooks where A5
% vs. letter-halved is a class option
\usepackage[
  paperheight=841mm,
  paperwidth=594mm,
  inner=1.5in,
  outer=1.5in,
  bottom=2in,
  top=2in,
  twoside]{geometry}
\input{../../content/special/preamble} 
\input{../../content/special/macros}    
\input{../../content/setup/venues}    % macros for event locations

\renewcommand{\footnotesize}{\fontsize{18}{22}\selectfont}
\renewcommand{\small}{\fontsize{24}{28}\selectfont}
\renewcommand{\normalsize}{\fontsize{32}{36}\selectfont}
\renewcommand{\large}{\fontsize{36}{40}\selectfont}
\renewcommand{\Large}{\fontsize{64}{66}\selectfont}
\renewcommand{\huge}{\fontsize{72}{80}\selectfont}

\begin{document}

\section{Day at a Glance --- {{ date }}}

\begin{tabular}{p{8in}b{10in}}
  \includegraphics[width=6in]{../../content/fmatter/logos/harbor.png}
  & \huge{\bfseries Track {{ track }}}\newline\Track{{ track }}Loc\vfill
\end{tabular}

\renewcommand{\arraystretch}{1.5}
\fancyfoot[L]{ {\small The 52nd Annual Meeting of the Association for Computational
    Linguistics\hfill\url{aclweb.org}}}

{% for session in sessions %}
\begin{tabular}{p{3in}p{16in}}
  \multicolumn{2}{l}{\bfseries\large {{ session.title }}} \\\hline

    {% for paper in session.papers %}
    {{ paper.time }}
    &	{{ paper.title }} \newline 
    {\itshape {{ paper.authors }}} \\
    {% endfor %}
\end{tabular}
{% endfor %}

\end{document}

