*.aux
*.bcf
*.idx
*.xml
*.out
handbook.aux
handbook.bcf
handbook.dep
handbook.fls
handbook.idx
handbook.idx.fixed
handbook.idx.ilg
handbook.ind
handbook.out
handbook.run.xml
handbook.bbl
handbook.blg
handbook.toc
handbook*pdf
*.pyc
*.swp
*.log
data/tar
#*#
.#*
*.tgz
*.gz
*._*
.DS_Store